<html>
<head>
    <title>About Me</title>
    <!-- Meta -->
    <meta charset="utf-8">  
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.css">
    <!-- github acitivity css -->
    <link rel="stylesheet" href="/static/assets/plugins/github-activity/dist/github-activity-0.1.1.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/github-activity/dist/octicons/octicons.min.css">
    
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/styles.css">
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src="/static/assets/images/profile.png" alt="Lands" />
            <div class="profile-content pull-left">
                <h1 class="name">蘭兹</h1>
                <h2 class="desc">Python Developer</h2>   
                <h4>享受自由该负荷的寂寞</h4> 
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="/"><i class="fa fa-paper-plane"></i> Back To Home</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p></p>    
         
        <p class="contact-us">来自星星的承旭源、Python爱好者、颈椎病最晚期，喜欢钻研各种基于现实问题的技术。希望沉下心来，安安静静的生活、学习。欢迎大家留言交流：男女不限，姑娘最好。</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
   
                
                <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
                
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="https://github.com/NoharaHiroshi/LandsBlog">基于Django的RSS&Blog项目</a><span class="label label-theme">Open Source</span></h3>
                                <p class="summary">这是一个集合订阅内容&个人博客的Django项目。配置：Django1.8 + Python3.4 + Bootstrap3.0</p>
								<p class="summary">
								目前项目集成：<br/>
										<p class="summary-li">| - 1.订阅功能：自动订阅虎嗅、人人都是产品经理、果壳网等60多个IT资讯网站内容，每4小时自动更新推送至网站首页。</p>
										<p class="summary-li">| - 2.个人博客：个人博客功能，包含博客分类、推荐博客、阅读排行榜、热门标签板块。</p>
										<p class="summary-li">| - 3.评论功能：使用多说评论。</p>
										</p>
										<p><a class="more-link" href="https://github.com/NoharaHiroshi/LandsBlog" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                            </div><!--//item-->
							
							<hr>
							
                            <div class="item">
                                <h3 class="title"><a href="https://github.com/NoharaHiroshi/Python-Spider">爬虫相关项目</a> <span class="label label-theme">Open Source</span></h3>
                                <p class="summary">
										<p class="summary-li">| - 1.拉勾网薪资调查，并将抓取结果存储到Excel。</p>
										<p class="summary-li">| - 2.拉勾网职位关键词抓取，自动生成图表。</p>
										<p class="summary-li">| - 3.房价网房价信息爬虫——整站40万条房价数据并行抓取，可更换抓取城市。</p>
										<p class="summary-li">| - 4.通过代理IP快速增加博客阅读量——亲测CSDN有效！</p>
								</p>
                                <p><a class="more-link" href="https://github.com/NoharaHiroshi/Python-Spider" target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
                            </div><!--//item-->
							
							<hr>
                            
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
				
				
				<section class="projects section" id="donate">
                    <div class="section-inner">
                        <h2 class="heading">Donate</h2> 
						<p class="contact-us">如果你觉得本站的内容不错，可以小资鼓励一下作者，会激发作者的小宇宙创造出更好的内容。</p>
						<div class="donate">
						<img class="donate-img" src="/static/assets/images/donate/1.jpg">
						<img class="donate-img" src="/static/assets/images/donate/5.jpg">
						<img class="donate-img" src="/static/assets/images/donate/10.jpg">
						<img class="donate-img" src="/static/assets/images/donate/renyi.jpg">
						</div>
						<img>
						<div>
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
                
				
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>       
                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
				
				
				<section class="experience section">
					<div class="section-inner">
					<h2 class="heading">Contact Us</h2>
					<p class="contact-us">有什么问题可以发布在这里，虽然我可能也不清楚，不过还是很乐意和你一起解决难题。</p>
					<!-- 多说评论框 start -->
					<div class="ds-thread"  data-thread-key="{{ artical.slug }}" data-title="{{ artical.title }}" data-url="{{ artical.get_absolute_url }}"></div>
					<!-- 多说评论框 end -->    
					</div>    
                </section><!--//section-->
				
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>朝阳, 北京</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">380788433@qq.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.landsblog.com</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">熟练</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="86%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">熟悉</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="56%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3, Bootstrap<span class="level-label">熟悉</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="72%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                                <div class="item">
                                    <h3 class="level-title">Linux &amp; Centos<span class="level-label">熟悉</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="63%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
								
								<div class="item">
                                    <h3 class="level-title">Nginx &amp; Apache<span class="level-label">熟悉</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="67%">
                                        </div>                                      
                                    </div><!--//level-bar-->                                 
                                </div><!--//item-->
                                
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Code Language</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>Python:</strong></span>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>PHP:</strong></span>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
								<li class="item">
                                    <span class="title"><strong>Java:</strong></span>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
              
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/assets/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="/static/assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github activity plugin -->
    <script type="text/javascript" src="/static/assets/plugins/github-activity/dist/mustache/mustache.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/github-activity/dist/github-activity-0.1.1.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/static/assets/js/main.js"></script> 
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"landsblog"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->
</body>
</html> 

