{% extends "base.html" %}
{% load custom_markdown %}
{% load comments %}
		{% block page-content %}
		<!-- 左侧栏 -->
<div id="nav-shadow"></div>
		<!-- 左侧栏 -->
		<div id="content">

	<div class="container">

		<div id="main">
			
			
			<div class="entry-artical">

				<div class="entry-artical-header">

					<h2 class="title"><a href="{{ artical.get_absolute_url }}">{{ artical.title }}</a></h2>

					<p class="meta">
					<span class="entry-separator"><a href="/artical/{{ artical.category.slug }}"> {{ artical.category}} </a></span>
					<span class="entry-separator"> {{ artical.created|date:"m-d h:i"}} </span> 
					<span class="entry-separator">阅读 ({{ artical.read_times}})</span>
					<span class="entry-separator">评论 (<span class="ds-thread-count" data-thread-key="{{ artical.slug }}" data-count-type="comments" ></span>) </span>
					</p>
					
					<div class="ds-share flat" data-thread-key="{{ artical.slug }}" data-title="{{ artical.title }}" data-images="/upload/user/default_user.jpg" data-content="{{ artical.summary }}" data-url="{{website_url}}{{artical.get_absolute_url}}">
					<div class="ds-share-inline">
					<ul  class="ds-share-icons-16">
      	
						<li><a class="ds-more" href="">分享到：</a></li>
						<li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
						<li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
						<li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
						<li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
      	
					</ul>
					<div class="ds-share-icons-more">
					</div>
				</div>
				</div>
				

				</div><!-- end .entry-header -->

				
				<div class="entry-tag">
				
				<ul>
					{% for tag in artical.tags.select_related %}
						<a href="/tag/{{ tag.slug }}">{{ tag }}</a>
					{% endfor %}
				</ul>
				</div>

				<div class="entry-artical-content">

					<p>{{artical.html_content|custom_markdown|removetags:"a span div"}}</p>


					<hr />
					
					
				</div><!-- end .entry-content -->
				
				<!-- 多说评论框 start -->
				<div class="ds-thread"  data-thread-key="{{ artical.slug }}" data-title="{{ artical.title }}" data-url="{{ artical.get_absolute_url }}"></div>
				<!-- 多说评论框 end -->


			</div><!-- end .entry -->


		</div><!-- end #main -->

		<div id="sidebar">
		

			
			<div id="recent-tabs" class="box">
			
				<div class="box-header">

					<ul class="nav">
						<li><a class="current" href="#recent-tabs-posts">每日热评</a></li>
						<li><a href="#recent-tabs-comments">推荐文章</a></li>
					</ul>

				</div><!-- end .box-header -->

				<div class="list-wrap">

					<ul id="recent-tabs-posts">
					{% for daily_comment in daily_comment_list %}
						<li>
							<a href="{{ daily_comment.get_absolute_url }}" class="title">
								<img src="{{ daily_comment.img.url }}" width="100" height="60" alt="{{ daily_comment.title }}" />
								{{ daily_comment.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ daily_comment.created|date:"m-d h:i"}}</a> by <a href="#">{{ daily_comment.owner }}</a></p>
						</li>
					{% endfor %}

					</ul><!-- end #recent-tabs-posts-->

					<ul id="recent-tabs-comments" class="hide">
					{% for popular in popular_list %}
						<li>
							<a href="{{ popular.get_absolute_url }}" class="title">
								<img src="{{ popular.img.url }}" width="100" height="60" alt="{{ popular.title }}" />
								{{ popular.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ popular.created|date:"m-d h:i"}}</a> by <a href="#">{{ popular.owner }}</a></p>
						</li>
					{% endfor %}
						
					</ul><!-- end #recent-tabs-comments -->

				</div><!-- end .list-wrap -->
				
			</div><!-- end #recent-tabs -->


			<div class="tags box">

				<div class="box-header">

					<h6>热门标签</h6>

				</div><!-- end .box-header -->

				<ul>
				{% for tag in tag_list %}
					<li><a href="/tag/{{ tag.slug }}">{{ tag.label }}</a></li>
				{% endfor%}
				</ul>

			</div><!-- end .tags -->


		</div><!-- end #sidebar -->

		<div class="clear"></div>

	</div><!-- end .container -->

</div><!-- end #content -->
		{% endblock %}
