{% extends "base.html" %}
{% load comments %}

		{% block page-content %}
		
<div id="nav-shadow"></div>
		<!-- 左侧栏 -->
		<div id="content">

	<div class="container">

		<div id="main">
		
						
			{% for blog in blog_category_list %}
			<div class="entry">

				<div class="entry-header">
					<h2 class="category"><a href="">{{ blog.category }}</a></h2>
					
					<h2 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>

				</div><!-- end .entry-header -->
				

				<div class="entry-content">

					<a href="{{ blog.get_absolute_url }}"><img src="{{ blog.img.url }}" width="240" height="140" alt="" class="entry-image" /></a>
					{% get_comment_count for blog as blog_count %}
					<p class="blog-meta">发布于 {{ blog.created|date:"m-d h:i"}} <span class="meta-span"></span>阅读 ({{ blog.read_times }}) <span class="meta-span"></span> 评论 ({{ blog_count }}) </p>
					<p>{{blog.summary }}</p>
					<div class="read-more cl-effect-14">
							<a href={{ blog.get_absolute_url }} class="more-link">Continue reading</a>
					</div>

					<hr />
					<ul class="entry-links">
					{% for tag in blog.tags.select_related %}
						<li><a href="/blog/tag/{{ tag.slug }}">{{ tag }}</a></li>
					{% endfor %}
					</ul>
					
				</div><!-- end .entry-content -->

			</div><!-- end .entry -->
			{% endfor %}
			
			
			
			<ul class="pagination">
			{% if blog_category_list.has_previous %}
				<li class="prev"><a href="/blog/{{ blog_category_list.previous_page_number }}">< Prev</a></li>
			{% else %}
				<li class="prev"><a href="#">< Prev</a></li>
			{% endif %}
			
			{% for page_number in blog_category_list.paginator.page_range %}
				{% if page_number = blog_category_list.number %}
				<li class="active"><a href="">{{ page_number }}</a></li>
				{% else %}
				<li><a href="/blog/{{ page_number }}">{{ page_number }}</a></li>
				{% endif %}
			{% endfor %}
			{% if blog_category_list.has_next %}
				<li class="next"><a href="/blog/{{ blog_category_list.next_page_number }}">Next ></a></li>
			{% else %}
				<li class="next"><a href="#">Next ></a></li>
			{% endif %}
			</ul>

		</div><!-- end #main -->

		<div id="sidebar">
		

			
			<div id="recent-tabs" class="box">
			
				<div class="box-header">

					<ul class="nav">
						<li><a class="current" href="#recent-tabs-posts">最新博文</a></li>
						<li><a href="#recent-tabs-comments">推荐博文</a></li>
					</ul>

				</div><!-- end .box-header -->

				<div class="list-wrap">

					<ul id="recent-tabs-posts">
					{% for blog in read_list %}
						<li>
							<a href="{{ blog.get_absolute_url }}" class="title">
								<img src="{{ blog.img.url }}" width="100" height="60" alt="{{ blog.title }}" />
								{{ blog.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ blog.created|date:"m-d h:i"}}</a> by <a href="#">{{ blog.owner }}</a></p>
						</li>
					{% endfor %}

					</ul><!-- end #recent-tabs-posts-->

					<ul id="recent-tabs-comments" class="hide">
					{% for blog in recommend %}
						<li>
							<a href="{{ blog.get_absolute_url }}" class="title">
								<img src="{{ blog.img.url }}" width="100" height="60" alt="{{ blog.title }}" />
								{{ blog.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ blog.created|date:"m-d h:i"}}</a> by <a href="#">{{ blog.owner }}</a></p>
						</li>
					{% endfor %}
						
					</ul><!-- end #recent-tabs-comments -->

				</div><!-- end .list-wrap -->
				
			</div><!-- end #recent-tabs -->
			
			<div class="tags box">

				<div class="box-header">

					<h6>博文分类</h6>

				</div><!-- end .box-header -->

				<ul>
				{% for category in category %}
					<li><a href="/blog/category/{{ category.slug }}">{{ category.label }}</a></li>
				{% endfor%}
				</ul>

			</div><!-- end .tags -->


			<div class="tags box">

				<div class="box-header">

					<h6>博文标签</h6>

				</div><!-- end .box-header -->

				<ul>
				{% for tag in tag %}
					<li><a href="/blog/tag/{{ tag.slug }}">{{ tag.label }}</a></li>
				{% endfor%}
				</ul>

			</div><!-- end .tags -->
			


		</div><!-- end #sidebar -->

		<div class="clear"></div>

	</div><!-- end .container -->

</div><!-- end #content -->
		{% endblock %}
