{% extends "base.html" %}
{% load custom_markdown %}
{% load comments %}


{% block title %}
	<title>{{ blog.title }}-清心</title>
{% endblock %}

		{% block page-content %}
		
<div id="nav-shadow"></div>
		<!-- 左侧栏 -->
		<div id="content">

	<div class="container">

		<div id="main">
		
						
			<div class="entry-artical">

				<div class="entry-artical-header">
					<div style="width:100%;">
					<h2 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
					</div>

					<p class="meta">
					<span class="entry-separator"><a href="/blog/category/{{ blog.category.slug }}"> {{ blog.category}} </a></span>
					<span class="entry-separator"> {{ blog.created|date:"m-d h:i"}} </span> 
					<span class="entry-separator">阅读 ({{ blog.read_times}})</span>
					<span class="entry-separator">评论 (<span class="ds-thread-count" data-thread-key="{{ blog.slug }}" data-count-type="comments" ></span>)</span>
					</p>
					
					<div class="ds-share flat" data-thread-key="{{ blog.slug }}" data-title="{{ blog.title }}" data-images="/upload/user/default_user.jpg" data-content="{{ blog.summary }}" data-url="{{website_url}}{{blog.get_absolute_url}}">
					<div class="ds-share-inline">
					<ul  class="ds-share-icons-16">
      	
						<li><a class="ds-more" href="">分享到：</a></li>
						<li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
						<li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
						<li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
						<li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
      	
					</ul>
					<div class="ds-share-icons-more">
					</div>
				</div>
				</div>
				


				</div><!-- end .entry-header -->
				
				<div class="entry-tag">
				<ul>
					{% for tag in blog.tags.select_related %}
						<a href="/blog/tag/{{ tag.slug }}">{{ tag }}</a>
					{% endfor %}
				</ul>
				</div>

				<div class="entry-artical-content">

					<p>{{blog.html_content|custom_markdown|removetags:"a span div"}}</p>


					<hr />
					
				<a href="/aboutme/#donate">感觉不错，我要小额赞助</a>
					
					
				</div><!-- end .entry-content -->
				
				<!-- 多说评论框 start -->
				<div class="ds-thread"  data-thread-key="{{ blog.slug }}" data-title="{{ blog.title }}" data-url="{{ blog.get_absolute_url }}"></div>
				<!-- 多说评论框 end -->

			</div><!-- end .entry -->
			

		</div><!-- end #main -->

		<div id="sidebar">
		

			
			<div id="recent-tabs" class="box">
			
				<div class="box-header">

					<ul class="nav">
						<li><a class="current" href="#recent-tabs-posts">最新博文</a></li>
						<li><a href="#recent-tabs-comments">推荐博文</a></li>
					</ul>

				</div><!-- end .box-header -->

				<div class="list-wrap">

					<ul id="recent-tabs-posts">
					{% for blog in read_list %}
						<li>
							<a href="{{ blog.get_absolute_url }}" class="title">
								<img src="{{ blog.img.url }}" width="100" height="60" alt="{{ blog.title }}" />
								{{ blog.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ blog.created|date:"m-d h:i"}}</a> by <a href="#">{{ blog.owner }}</a></p>
						</li>
					{% endfor %}

					</ul><!-- end #recent-tabs-posts-->

					<ul id="recent-tabs-comments" class="hide">
					{% for blog in recommend %}
						<li>
							<a href="{{ blog.get_absolute_url }}" class="title">
								<img src="{{ blog.img.url }}" width="100" height="60" alt="{{ blog.title }}" />
								{{ blog.title }}
							</a>
							<p class="meta">发布于 <a href="#">{{ blog.created|date:"m-d h:i"}}</a> by <a href="#">{{ blog.owner }}</a></p>
						</li>
					{% endfor %}
						
					</ul><!-- end #recent-tabs-comments -->

				</div><!-- end .list-wrap -->
				
			</div><!-- end #recent-tabs -->
			
			<div class="tags box">

				<div class="box-header">

					<h6>博文分类</h6>

				</div><!-- end .box-header -->

				<ul>
				{% for category in category %}
					<li><a href="/blog/category/{{ category.slug }}">{{ category.label }}</a></li>
				{% endfor%}
				</ul>

			</div><!-- end .tags -->


			<div class="tags box">

				<div class="box-header">

					<h6>博文标签</h6>

				</div><!-- end .box-header -->

				<ul>
				{% for tag in tag %}
					<li><a href="/blog/tag/{{ tag.slug }}">{{ tag.label }}</a></li>
				{% endfor%}
				</ul>

			</div><!-- end .tags -->
			


		</div><!-- end #sidebar -->

		<div class="clear"></div>

	</div><!-- end .container -->

</div><!-- end #content -->
		{% endblock %}
